<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div id="header">
        <p>Home | <a href="/projects">Projects</a> | <a href="/contact">Contact</a></p>
    </div>
    <div id="main">
        <h1>About Me</h1>
        <div class="article">
            <div class="section">
                <img src="~/img/profilePic.jpeg" alt="profilePic" id="profileImage">
                <p>Nathan Bell</p>
            </div>
            <div class="section">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At fugit quis veniam quas optio, quaerat vitae assumenda, natus illum nesciunt dolorem molestiae beatae quidem, nisi sed minima. Sint, dolorem ab? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis sint earum, quia placeat ipsam cum itaque quisquam ratione consequatur temporibus maxime, non odio ab commodi architecto. Sint repellat minima obcaecati?</p>
            </div>
        </div>
    </div>
</body>
</html>