<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <div id="header">
        <p><a href="/">Home</a> | Projects | <a href="/contact">Contact</a></p>
    </div>
    <div id="main">
        <h1>Projects</h1>
        <center>
            <div class="scroll">
                <div class="article">
                    <div class="section">
                        <img src="~/img/sword.jpg" alt="swordImage">
                    </div>
                    <div class="section">
                        <h3>Dragon Slayer</h3>
                        <p>Creating the Dragon Slayer sword from Berzerk for my friend. This project was done over the course of a week for the <a href="https://renfair.com/bristol/">Bristol Renaissance Faire</a>.</p>
                    </div>
                </div>
                <div class="article">
                    <div class="section">
                        <img src="~/img/map.jpg" alt="mapImage">
                    </div>
                    <div class="section">
                        <h3>Map for D&D</h3>
                        <p>Drawing and coloring a map for my D&D Campaign. I used my computer to digitally make the map.</p>
                    </div>
                </div>
                <div class="article">
                    <div class="section">
                        <img src="~/img/mizGame.jpg" alt="gameImage">
                    </div>
                    <div class="section">
                        <h3>MizJam Game</h3>
                        <p>Coding a game using Godot for the MizJam Game Jam. This game can be played <a href="https://neverknow247.itch.io/dungeon-man">here.</a></p>
                    </div>
                </div>
            </div>
        </center>
    </div>
</body>

</html>